.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100%;
}

#root {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    /* height: 100%; */
    /* Negative indent footer by it's height */
    margin: 0 auto -71px;
    background-image: url('./images/Background-Image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#push,
.footer {
    height: 71px;
}

#footer {
    background-color: #f5f5f5;
    height: 71px;
}